@media screen and (orientation:portrait) {
  
    .desk-header {
      display: none;
    }
    .mobo-header {
     display: block;
    }
    .main-home {
      max-height: 100vh;
      position: fixed;
    }
    .mobo-bottom{
      width: 100%;
      position: fixed;
      top: 90vh;
    }
  
}
@media screen and (orientation:landscape) {
  
    .mobo-header {
      display: none;
      visibility: hidden;
      margin-top: -6.25rem;
    }
    .desk-header {
     display: block;
    }
  
}